<app-main></app-main>
<lib-rv-lib></lib-rv-lib>

<button (click)="testObs()">Tester mon observable</button>
<br>
<button (click)="testObs2()">Tester la fonction map</button>
<br>
<button (click)="cl()">Combine latest</button>
<br>
<button (click)="fork()">Fork join</button>
<br>
<button (click)="forkJoin()">Args test</button>
<br>
<button (click)="rxjsMap()">Rxjs map function</button>
<br>
<button (click)="debugTest(9)">Debug test</button>
<br>
<button (click)="testFilterUndefined()">testFilterUndefined</button>
<br>
<button (click)="testThrowError()">testThrowError</button>
<button (click)="unsubscribeFromObs()">unsubscribeFromObs</button>
<br>
<button (click)="testErrorPipe()">testErrorPipe</button>
<hr>
<h2>Test Observable</h2>
<input [(ngModel)]="updatedText" (ngModelChange)="reactToTextUpdate($event)" type="text">

{{updatedText}}
